@import './animate.scss';
.screen {
  width: 100vw;
  height: calc(100vh - 60px);
}

.glass-show {
  position: relative;
  background-color: black;
}

.bubble {
  position: absolute;
  height: auto;
}

.bubble1 {
  top:  16.8%;
  left: 15%;;
  width: 3.54%;
}

.bubble2 {
  bottom: 14%;
  left: 12.5%;
  width: 5.97%;
}

.bubble3 {
  top: 86.35%;
  left: 68.27%;
  width: 5.2%;
}

.bubble4 {
  top:  15.4%;
  left: 49.1%;
  width: 6%;
}

.bubble-home {
  left: 55.8%;
  width: 39%;
  top: 5vh;
}

.pic-glass {
  top: 18%;
  left: 7vw;
  width: 52.9%;
}

.introduce {
  padding: 0 10%;
  text-align: center;
}

.introduce .title {
  font-size: 36px;
  line-height: 50px;
  margin-top: 47px;
  font-weight: bold;
}

.des {
  padding-top: 10px;
}

.des p {
  font-size: 14px;
  line-height: 20px;
  opacity: .7;
}

.know-more {
  display: block;
  padding: 24px 0 33px 0;
  line-height: 22px;
  font-size: 16px;
  color: #00ADA6;
}

.exhibition {
  background-color: black;
  color: white;
  padding: 70px 10% 95px 10%;
  min-height: 100px;
}

.exhibition nav {
  position: relative;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #666666;
}

.exhibition nav a {
  position: relative;
  width: 100px;
  text-align: center;
  font-size: 28px;
  line-height: 40px;
  cursor: pointer;
  opacity: .5;
  margin-left: 70px;
  transition: opacity .3s ease-out;
}

.exhibition nav a.active {
  opacity: 1;
  cursor: auto;
}

.exhibition nav a.active::after {
  // position: absolute;
  // content: '';
  // width: 100%;
  // height: 5px;
  // background-color: white;
  // left: 50%;
  // transform: translateX(-50%);
  // bottom: -12px;
}

.exhibition nav .border {
  position: absolute;
  width: 100px;
  height: 5px;
  background-color: white;
  left: 50%;
  bottom: -2px;
  transition: transform .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.ex-content {
  display: flex;
  justify-content: space-between;
  margin-top: 23px;
  height: 479px;
}

.ex-img {
  width: 64.2%;
  height: 100%;
  border-radius: 10px;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.ex-list {
  width: 33%;
}

.ex-item {
  display: flex;
  height: 100px;
  margin-top: 26px;
  opacity: .6;
  cursor: pointer;
}

.ex-item.active {
  opacity: 1;
  cursor: auto;  
}

.ex-right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  padding-left: 5%;
  font-size: 16px;
}

.ex-left {
  height: 100%;
}

.ex-left img {
  display: block;
  height: 100%;
  border-radius: 5px;
}

.ex-item:first-child {
  margin-top: 0;
}

.ex-right .date {
  font-size: 14px;
  color: #1ACD8C;
}

.play-video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0 , .3);
}

.play-video img {
  cursor: pointer;
}

.model {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0 , .8);
  z-index: 9999;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.model-close {
  position: absolute;
  right: 50px;
  top: 50px;
  cursor: pointer;
}

.model-close img {
  width: 40px;
}

.video video {
  display: block;
  max-width: 70%;
  margin: auto;
}

.ex-list-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;  
  overflow: auto;
  height: 100%;
  width: 31%;
}

.ex-item-img {
  margin-top: 0;
  margin-bottom: 26px;
}

.ex-item-img img {
  width: 100px;
  height: 100px;
  margin-left: 5px;
  border-radius: 5px;
}

.image img {
  display: block;
  margin: auto;
  width: 70%;
}

@media screen and (max-width: 1100px) {
  .ex-right {
    font-size: 12px;
  }
}

@media screen and (min-width: 1445px) {
  .ex-content {
    height: 560px;
  }

  .ex-item {
    height: 120px;
  }

  .ex-list-img {
    width: 33%;
  }

  .ex-item-img img {
    width: 120px;
    height: 120px;
  }
}

@media screen and (min-width: 1800px) {
  .ex-content {
    height: 650px;
  }

  .ex-item {
    height: 143px;
  }

  .ex-item-img img {
    width: 143px;
    height: 143px;
  }
}