.problem {
  background-color: black;
  padding: 31px 20% 100px 20%;
  color: white;

  .title {
    font-size: 36px;
    line-height: 50px;
    text-align: center;
  }

  .problem-item {
    position: relative;
    margin-left: 10px;
    padding: 20px 0;
    border-bottom: 1px solid rgba($color: #fff, $alpha: 0.1);

    &::after {
      content: "";
      position: absolute;
      width: 3.5px;
      height: 17px;;
      background-color: #1ACD8C;
      top: 28px;
      left: -13px;
    }


    p {
      font-size: 12px;
      line-height: 17px;
      opacity: .7;
    }
    
    .p-title {
      font-size: 15px;
      line-height: 35px;
      opacity: 1;      
    }
  }
}