.nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 8.3%;
  top: 60px;
  z-index: 10;
  background-color: #F4F4F4;
  height: 40px;
  line-height: 40px;
}

.p-nav {
  width: 60%;
  a {
    margin-right: 40px;
    font-size: 12px;
    color: #999999;
    cursor: pointer;
    transition: color .2s ease-out;

    &:hover {
      color: #000000;
    }

    &.active {
      color: #000000;
      cursor: auto;      
      font-weight: bold;      
    }
  }
}

.icon-nav {
  display: flex;
  justify-content: flex-end;
  width: 40%;

  a {
    display: block;
    padding: 0 20px;
    cursor: pointer;
    opacity: 1;

    &:last-child {
      padding-right: 0;
    }

    img {
      width: auto;
      height: 17px;
    }
  }
}

.product {
  margin-top: 100px;
}

.introduce {
  margin-top: 32px;
  padding: 0 8%;
}

.product-page {
  position: relative;

  img {
    display: block;
    width: 100%;
  }

  .front {
    z-index: 2;
  }

  .back {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

@media screen and (max-width: 1000px) {
  .nav {
    padding: 0 2%;
  
    .p-nav {
      width: 100%;
    }
  }
}